<h1>{{ user.name }}</h1>

<table>
<tr>
<th>#</th>
<th>Рекомендации по оценке основанной на эвклидовом расстоянии</th>
<th>Рекомендации по оценке основанной на коффициенте корреляции Пирсона</th>
<th>Рекомендации по оценке основанной на коффициенте Жаккара</th>
<th>Рекомендации по оценке основанной на манхэттенском расстоянии</th>
<tr>
{% for recomendation in recomendations %}
<tr>
<td>№{{loop}}</td>
<td><a href="{{recomendation.euclid.get_absolute_url}}">{{recomendation.euclid}}</a></td>
<td><a href="{{recomendation.pearson.get_absolute_url}}">{{recomendation.pearson}}</a></td>
<td><a href="{{recomendation.jaccard.get_absolute_url}}">{{recomendation.jaccard}}</a></td>
<td><a href="{{recomendation.manhattan.get_absolute_url}}">{{recomendation.manhattan}}</a></td>
</tr>
{% endfor %}
</table>

<table>
{% for film in films %}
<tr>
<td><a href="{{film.get_absolute_url}}">{{film.film}}</td>
<td>{{film.range10}}</td>
<td>{{film.range3}}</td>
<td>{{film.range2}}</td>
</tr>
{% endfor %}
</table>

{{s}}

